.Image {
  position: absolute;
  height: 400px;
  width: 400px;
}

/* React Transition Group v4+ API - using classNames */
.example-enter {
  opacity: 0.01;
}

.example-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-exit {
  opacity: 1;
}

.example-exit-active {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}
