.Image {
  position: absolute;
  height: 400px;
  width: 400px;
}

/* React Transition Group v4+ API - using classNames */
.swap-enter {
  opacity: 0.01;
  transform: translateX(5em);
}

.swap-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all .5s ease-in;
}

.swap-exit {
  opacity: 1;
  transform: translateX(0);
}

.swap-exit-active {
  opacity: 0;
  transform: translateX(-5em);
  transition: all .5s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-exit {
  opacity: 1;
}

.example-exit-active {
  opacity: 0;
  transition: opacity .5s ease-in;
}
